<div class="news-item-date">
    <span class="news-item-day">0</span>
    <span class="news-item-month">{{ createdDate }}</span>
</div>
<div class="news-item-detail">
    <a href="#topics/{{ model.slug }}" class="news-item-title">{{ model.name }}</a>
    <p>
        {{ model.rating }} <i class="fa fa-star"></i>&nbsp;
        {{ model.answersCount }} <i class="fa fa-commenting"></i>&nbsp;
        {{ model.reviewed_number }} <i class="fa fa-eye"></i>&nbsp;
        {{ model.usersCount }} <i class="fa fa-user"></i>&nbsp;
    </p>
    <p>
        <button class="btn-link text-info bookmark-btn">Bookmark</button>
        <button class="btn-link text-info subscribe-btn">Subscribe</button>
    </p>
    <p class="news-item-preview">{{ model.generated_description }}</p>
</div>