<div class="widget-header">
    <i class="fa fa-list"></i>&nbsp;
    <a href="#categories/{{ model.slug }}/topics">
        <h3>{{ model.name }}</h3>&nbsp;
        <span class="topic-count">(Total : {{meta.topicCount}} topics)</span>
    </a>
    <div class="create-topic pull-right">
        <a class="btn btn-warning btn-lg" href="#topic/create/{{ model.slug }}">
            <i class="fa fa-file-o"></i>&nbsp;<span class="hidden-xs">Create topic</span>
        </a>
    </div>
    {{#if isAdmin}}
        <div class="edit-category pull-right">
            <a class="btn-link" href="#topicCategories/{{ model.slug }}/edit">
                <i class="fa fa-edit" aria-hidden="true"></i>
                <span class="hidden-xs">Edit category</span>
            </a>&nbsp;
            <a class="btn-link delete-category-btn">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="hidden-xs">Delete category</span>
            </a>
        </div>
    {{/if}}
</div>
<!-- /widget-header -->
<div class="widget-content">
    <ul class="news-items">
        {{#if meta.topicCount}}
            <li>Last topics:</li>
        {{/if}}
        {{#each meta.lastThreeTopics}}
            <li>
                <a href="#topics/{{ slug }}"> {{ name }} </a>
                <span class="category-topic-time">update: {{updated_at}}</span>
            </li>
        {{/each}}
    </ul>
</div>
<!-- /widget-content -->