<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="post-title"><a href="#topics/{{ model.id }}"> {{ model.name }} </a><br>
        <button class="btn btn-info btn-xs text-info bookmark-btn">Bookmark</button>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
    <div class="text-center">{{ model.rating }}</div>
</div>
<div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
    <div class="text-center">{{ model.reviewed_number }}</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
    <div class="text-center">0</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <div class="text-center">{{ createdDate }}</div>
</div>
