<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="post-title"><a href="#topics/{{ model.slug }}"> {{ model.name }} </a><br>
        <button class="btn btn-info btn-xs text-info bookmark-btn">Bookmark</button>
        <a href="{{ href }}"><i class="{{ style }}" id="starForLike{{ model.id }}"></i></a>{{ model.countOfLikes }}
        <button class="btn btn-info btn-xs text-info subscribe-btn">Subscribe</button>
    </div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
    <div class="text-center">{{ model.rating }}</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
    <div class="text-center">{{ model.reviewed_number }}</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
    <div class="text-center">{{ model.usersCount }}</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
    <div class="text-center">{{ model.answersCount }}</div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="text-center">{{ createdDate }}</div>
</div>
