<div class="topic-comment-flex">
    <div class="topic-bar hidden-xs">
        <div class="topic-avatar topic-avatar-border">
            <img src="/images/user.png">
        </div>
        <div class="topic-addition">

        </div>
    </div>
    <div class="topic-body">
        <div class="topic-header">
            <h4>{{ model.name }}</h4>
        </div>
        <div class="topic-msg">
            <p> {{ model.description }}</p>
        </div>
        {{#each meta.tags}}
            <div class="tag">
                {{ name }}
            </div>
        {{/each}}
    </div>
</div>
<div class="topic-control">
    <div class="topic-bar hidden-xs"></div>
    <div class="topic-history">{{ model.created_at }} {{ meta.user.display_name }}</div>
    <div class="topic-control-btn">
        <a class="topic-edit-btn">Edit</a>
        <a class="topic-bookmark-btn">Bookmark</a>
        <a class="topic-share-btn">Share</a>
        <a class="topic-answer-btn">Reply</a>
        <a class="topic-notification-btn">Notification</a>
        <a class="topic-btn" data-toggle="modal" data-target="#delete-topic-form">Delete</a>
    </div>
</div>

<div id="delete-topic-form" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm delete</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete topic: <b>{{ model.name }}</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger topic-delete-btn" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
