<div class="topic-comment-flex">
    <div class="topic-bar hidden-xs">
        <div class="topic-avatar topic-avatar-border">
            <img src="/images/user.png">
        </div>
        <div class="topic-addition">

        </div>
    </div>
    <div class="topic-body">
        <div class="topic-header">
            <h4>{{ model.name }}</h4>
        </div>
        <div class="topic-msg">
            <p> {{ model.description }}</p>
        </div>
        <div class="topic-tags">
            {{#each model.tags}}
                <span>#{{ name }}</span>
            {{/each}}
        </div>
    </div>
</div>
<div class="topic-control">
    <div class="topic-bar hidden-xs"></div>
    <div class="topic-history">{{ model.created_at }} {{ meta.user.display_name }}</div>
    <div class="topic-control-btn">
        <a class="topic-edit-btn">Edit</a>
        <button class="bookmark-btn text-info">Bookmark</button>
        <a class="topic-answer-btn">Reply</a>
        <a class="topic-notification-btn">Notification</a>
    </div>
</div>

