<div class="topic-comment-item">
    <div class="topic-comment-main">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <div class="topic-msg">
                    <h4>{{ model.content_origin }}</h4>
                    <!--<a href="{{ comment_url }}">{{ model.content_origin }}</a>-->
                </div>
                <div class="attachments-container">
                    {{#each meta.attachments}}
                        <div class="col-xs-6 col-md-3">
                            <a href="{{ url }}" class="thumbnail">
                                <img src="{{ url }}" alt="">
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-bar hidden-xs"></div>
            <div class="topic-history">{{ model.created_at }}</div>
            <div class="topic-history">{{ meta.user.display_name }}</div>
            <div class="topic-history">Rating {{ model.rating }}</div>
            <div class="topic-control-btn">
                {{!-- only output if user comment belongs to current user --}}
                {{#if meta.isUserComment}}
                    <button class="btn btn-primary comment-edit-btn">Edit</button>
                    <button class="btn btn-danger comment-remove-btn">Remove</button>
                    <!--<button data-toggle="modal" data-target="#delete-comment-dialog" class="btn btn-danger">Remove</button>-->
                {{else}}
                    <a class="answer-btn">Reply</a>
                {{/if}}
                <a class="bookmark-btn">Bookmark</a>
                <a class="share-btn">Share</a>
                <a class="notification-btn">Notification</a>
            </div>
        </div>
    </div>

    <div class="topic-comment-included">
        <!-- comments on this comment container -->
        <!-- comment item such as this item -->
        <!-- <div class="topic-comment-item">
                <div class="topic-comment-main">
                    <di ... -->
    </div>
</div>
<div class="new-comment-container"></div>
<div id="delete-comment-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger comment-remove-btn"
                        data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
