<div class="avatar">
    {{#if meta.user.url_avatar}}<img src={{meta.user.url_avatar}}>{{else}}<img src="images/user.png">{{/if}}
</div>
<div class="message_wrap">
    <div class="info">
        <a class="name">{{ meta.user.first_name }} {{ meta.user.last_name }}</a>
        <span class="time">{{ createdAt }}</span>

        <div class="pull-right">
            {{#if isUploadingAttachs}}
                <span>Upload files...</span>
            {{else}}
            {{!-- only output if user comment belongs to current user --}}
                {{#if meta.canEditDelete}}
                    <a class="comment-edit-btn btn-link right-margin-10"><i class="fa fa-edit"></i> Edit</a>
                    <a class="comment-remove-btn btn-link right-margin-10" data-toggle="modal" data-target="#confirmDialog-{{ model.id }}">
                        <i class="fa fa-trash"></i> Remove
                    </a>
                {{/if}}

            {{/if}}
        </div>

    </div>
    <div class="text">

        <div class="topic-msg">
            {{{ model.content_generated }}}
        </div>

        <div class="attachments-container">
            {{#each meta.attachments}}
                <div class="attachment-preview">
                    <a href="{{ url }}" class="thumbnail" target="_blank" title="{{ cloud_public_id }}">
                        <img src="{{ thumb }}" alt="{{ url }}">
                    </a>
                </div>
            {{/each}}
        </div>

        <div class="overflow-hidden pull-right">

            <span class="topic-history right-margin-10">Rating: {{ model.rating }}</span>

            {{#if meta.comments}}
                <a class="btn-childs btn-link right-margin-10">
                    <b><i class="fa fa-arrow-down"></i> View answers</b>
                </a>
            {{else}}
                <a class="btn-childs btn-link collapse right-margin-10">
                    <i class="fa fa-arrow-down"> View answers</i>
                </a>
            {{/if}}

            {{#unless isUploadingAttachs}}
                {{#if meta.canReply}}
                    <a class="answer-btn btn-link right-margin-10">
                        <i class="fa fa-reply"></i> Answer
                    </a>
                {{/if}}
            {{/unless}}

        </div>

    </div>
</div>

<div id="confirmDialog-{{ model.id }}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm delete</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary remove-modal-btn" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
