<div class="avatar">
    {{#if meta.user.url_avatar}}<img src={{meta.user.url_avatar}}>{{else}}<img src="images/user.png">{{/if}}
</div>
<div class="message_wrap">
    <div class="info">
        <a class="name">{{ meta.user.first_name }} {{ meta.user.last_name }}</a>
        <span class="time">{{ createdAt }}</span>

        <div class="pull-right right-margin-10">
            {{#if isUploadingAttachs}}
                <span>Upload files...</span>
            {{else}}
            {{!-- only output if user comment belongs to current user --}}
                {{#if meta.canEditDelete}}
                    <a class="comment-edit-btn"><i class="fa fa-edit"></i> Edit</a>
                    <a class="comment-remove-btn" data-toggle="modal" data-target="#confirmDialog-{{ model.id }}">
                        <i class="fa fa-trash"></i> Remove
                    </a>
                {{/if}}

            {{/if}}
        </div>

    </div>
    <div class="text">

        <div class="topic-msg">
            {{{ model.content_generated }}}
        </div>

        <div class="attachments-container">
            {{#each meta.attachments}}
                <div class="attachment-preview">
                    <a href="{{ url }}" class="thumbnail" target="_blank" title="{{ cloud_public_id }}">
                        <img src="{{ thumb }}" alt="{{ url }}">
                    </a>
                </div>
            {{/each}}
        </div>

        <div class="overflow-hidden pull-right">
            <div class="topic-history">Rating {{ model.rating }}</div>
            {{#unless isUploadingAttachs}}
                {{#if meta.canReply}}
                    <a class="answer-btn">
                        <i class="fa fa-reply"></i> Answer
                    </a>
                {{/if}}
            {{/unless}}
            {{#if meta.comments}}
                <button class="btn-childs btn btn-default col-xs-12">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            {{else}}
                <button class="btn-childs btn btn-default col-xs-12 collapse">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            {{/if}}
        </div>

    </div>
</div>

<div id="confirmDialog-{{ model.id }}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm delete</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary remove-modal-btn" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
