<div class="topic-comment-flex">
    <div class="topic-bar hidden-xs">
        <div class="topic-avatar">
            <img src="images/user.png">
        </div>
        <div class="topic-addition">

        </div>
    </div>
    <div class="topic-body">
        <div class="topic-msg">
            {{{ model.content_generated }}}
        </div>
        <div class="attachments-container">
            {{#each meta.attachments}}
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="{{ url }}" class="thumbnail" target="_blank" title="{{ cloud_public_id }}">
                        <img src="{{ thumb }}" alt="{{ url }}">
                    </a>
                </div>
            {{/each}}
        </div>
        <div class="attachs"></div>
    </div>
</div>
<div class="topic-control">
    <div class="topic-bar hidden-xs"></div>
    <div class="topic-history">{{ createdAt }}</div>
    <div class="topic-history">{{ meta.user.display_name }}</div>
    <div class="topic-history">Rating {{ model.rating }}</div>
    <div class="topic-control-btn">
        {{#if isUploadingAttachs}}
            <span>Upload files...</span>
        {{else}}
        {{!-- only output if user comment belongs to current user --}}
            {{#if meta.canEditDelete}}
                <a class="comment-edit-btn">Edit</a>
                <a class="comment-remove-btn" data-toggle="modal" data-target="#confirmDialog-{{ model.id }}">Remove</a>
            {{/if}}
            {{#if meta.canReply}}
                <a class="answer-btn">Answer</a>
            {{/if}}
            <a class=" topic-control-btn link-like-unlike fontOfLikeCommentsIcon"><i class="{{ style }}"></i>{{ likeUnlike }}({{ countOfLikes }})</a>
        {{/if}}
    </div>
    <div class="row">
        {{#if meta.comments}}
            <button class="btn-childs btn btn-default col-xs-12">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        {{else}}
            <button class="btn-childs btn btn-default col-xs-12 collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        {{/if}}
    </div>
</div>
<div id="confirmDialog-{{ model.id }}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm delete</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary remove-modal-btn" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
