<div class="topic-comment-item">
    <div class="topic-comment-main">
        <div class="topic-comment-flex">
            <div class="topic-bar hidden-xs">
                <div class="topic-avatar">
                    <img src="/images/user.png">
                </div>
                <div class="topic-addition">

                </div>
            </div>
            <div class="topic-body">
                <div class="topic-msg">
                    <a href="{{ comment_url }}">{{ content_origin }}</a>
                </div>
                <div class="attachments-container"></div>
            </div>
        </div>
        <div class="topic-control">
            <div class="topic-bar hidden-xs"></div>
            <div class="topic-history">{{ created_at }}: usernik</div>
            <div class="topic-history">{{ user }}</div>
            <div class="topic-history">Rating {{ rating }}</div>
            <div class="topic-control-btn">
                <a class="edit-btn">Edit</a>
                <a class="bookmark-btn">Bookmark</a>
                <a class="share-btn">Share</a>
                <a class="answer-btn">Reply</a>
                <a class="notification-btn">Notification</a>
            </div>
        </div>
    </div>

    <div class="topic-comment-included">
        <!-- comments on this comment container -->
        <!-- comment item such as this item -->
        <!-- <div class="topic-comment-item">
                <div class="topic-comment-main">
                    <di ... -->
    </div>
</div>
<div class="new-comment-container"></div>
