<div class="messages-user-item">
    <a href="#messages/user/{{user.id}}">
    {{#if isUserFrom}}
        <div class="messages-msg-avatar hidden-xs">
            <!-- from msg avatar -->
              {{#if user.url_avatar}}<img src={{user.url_avatar}}>{{else}}<img src="images/user.png">{{/if}}
        </div>
    {{/if}}
        <div class="messages-msg">
            <span class="from-to-user">{{user.first_name}} {{user.last_name}}</span>
            <!-- if unread add class .unread -->
            <div class="messages-msg-body">
                <div>
                    <p>{{{message}}}</p>
                </div>
            </div>
            <i><span class="messageDate" realdate="{{updatedStaticDate}}">{{updatedDate}}</span></i>
        </div>
    {{#unless isUserFrom}}
        <div class="messages-msg-avatar hidden-xs">
            <!-- to msg avatar -->
        {{#if user.url_avatar}}<img src={{user.url_avatar}}>{{else}}<img src="images/user.png">{{/if}}
        </div>
    {{/unless}}
    </a>
</div>