<div class="message-msg-item">
    <!-- addition class 'to' or 'from' to mark msg direction -->
    <div class="message-item-container {{messageDirection}}">
        <div class="message-msg-avatar">
            <!-- message owner avatar -->
            <img src="/images/user.png">
        </div>
        <div class="message-msg-body {{deleted}}">
            <p><b>{{user.first_name}} {{user.last_name}}</b></p>
            <p>{{{message}}}</p>
            <div class="message-msg-date">{{edit_at}} <date class="messageDate" realdate="{{updatedStaticDate}}">{{updatedDate}}</date></div>
            <div><a class="edit invisible">Edit</a>&nbsp;<a class="delete invisible">Delete</a></div>
        </div>
    </div>
</div>