
        <div class="avatar">
            {{#if user.url_avatar}}<img src={{user.url_avatar}}>{{else}}<img src="images/user.png">{{/if}}
        </div>
    <a class="{{directClass}}" href="#messages/user/{{user.id}}">
        <div class="message_wrap">
            <div class="info">
                <span class="name">{{user.first_name}} {{user.last_name}} {{#if isUserFrom}} (my self) {{/if}}</span>
                <i><span class="messageDate time" realdate="{{updatedStaticDate}}">{{updatedDate}}</span></i>
            </div>

            <!-- if unread add class .unread -->
            <div class="text">{{{message}}}</div>

        </div>
    </a>