<div class="users-item create-vote-users-item">
    <div class="users-item-avatar">
     {{#if model.url_avatar}}
    <img src={{model.url_avatar}}>
   {{else}}
    <img src="images/user.png">
    {{/if}}
    </div>
    <div class="users-item-credential">
        <div class="users-item-name">
            <span>{{model.first_name}} {{model.last_name}}</span>
        </div>
        <div class="users-item-email">
            <span class="create-vote-email">{{model.email}}</span>
        </div>
    </div>
    <div class="create-vote-users-item-msg">
        <button type="button" class="btn btn-default"><span class="fa fa-{{glyph}}"></span></button>
    </div>
</div>