<div class="votes-item">
    <div class="votes-item-bar">
        <div class="votes-item-avatar">
            <img src="/images/user.png">
        </div>
    </div>
    <div class="votes-item-body">
        <div class="votes-item-title">
            <span>{{data.title}}</span>
        </div>
        <div class="votes-item-details">
            <a>{{_meta.likes}} Likes</a><a>{{_meta.comments}} Comments</a>
            <a>Finished at {{data.finished_at}}</a><a>{{data.views}} Views</a>
        </div>
        <div class="votes-item-tags">
            <span>#Vote</span><span>#Votes</span>
        </div>
        <span class="votes-item-time">Asked {{_meta.days_ago}}</span>
    </div>
</div>