<!--<div class="vote-head">-->
    <div class="vote-header limited-block-for-corner-button relative">
        <a href="#votes/{{model.id}}/edit" class="btn btn-warning btn-md corner-button"><span class="glyphicon glyphicon-edit"></span></a>
        <h3>{{ model.title }} </h3>
        <h5>Opened by: {{ meta.user.first_name }}  {{ meta.user.last_name }}</h5>
        <span>{{{ model.description_generated }}}</span><br>
            <select class="vote-tags">
            <option>{{ meta.numberOfUniqueViews }} users have seen this voting</option>
                {{#each meta.usersWhoSaw}}
                    <option>{{ first_name }} {{ last_name }}</option>
                {{/each}}
            </select>
        <button class="btn btn-info btn-xs text-info subscribe-btn">Subscribe</button>
        <div class="vote-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}"><span>#{{name}}</span></a>
            {{/each}}
        </div>
    </div>

<!--</div>-->