{{#if meta.vote.is_single}}
    <div class="radio" >
        <label class="js-item-click">
            <input type="radio" class="js-select" name="optionsRadios" value="{{model.id}}" {{#if model.checked}} checked {{/if}}>
            {{ model.name }}
        </label>
    </div>
{{else}}
    <div class="checkbox">
        <label class="js-item-click">
            <input type="checkbox" class="js-select" name="optionsCheckboxes" value="{{model.id}}" {{#if model.checked}} checked {{/if}}>
            {{ model.name }}
        </label>
    </div>
{{/if}}