<div class="votes-item">
    <div class="votes-item-bar">
        <div class="votes-item-avatar">
            <img src="/images/user.png">
        </div>
    </div>
    <div class="votes-item-body" style="position: relative;">
        <div class="votes-item-title">
            <span><a id="label">{{ model.title }}</a></span> Opened by: <span> {{ meta.user.first_name}} {{ meta.user.last_name }} </span>
        </div>
        <div class="votes-item-details">
            <a>{{ meta.comments}} Comments</a><a>{{ meta.likes }} likes</a>
        </div>
        <div class="votes-item-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}" style="color: #333;"><span>#{{name}}</span></a>
            {{/each}}
        </div>
        <span class="votes-item-time">Created at {{ model.created_at }}</span>
        {{deleteVoteButton model meta}}
    </div>
</div>