
<div class="votes-item">
    <div class="votes-item-bar">
<div class="news-item-date">
    <img src="images/user.png">
</div>
<div class="news-item-detail">
    <span>{{ meta.user.first_name}} {{ meta.user.last_name }}:</span>
    <a href="#votes/{{ model.slug }}" class="news-item-title">
        {{ model.title }}
        {{#ifCond model.is_saved '==' 0}}<span class="not-saved">(not saved)</span>{{/ifCond}}
    </a>
    <div class="vote-item-icons">
        <span><i class="fa fa-star"></i>&nbsp;{{ meta.likes }}</span>
        <span><i class="fa fa-commenting"></i>&nbsp;{{ meta.comments }}</span>
        <span><i class="fa fa-eye"></i>&nbsp;{{ meta.numberOfUniqueViews }}</span>

        <button class="btn-link text-info subscribe-btn">Subscribe</button>
    </div>
    <div class="vote-deadline">
        {{#if isFinished}}
            <span class="green-text"><i class="fa fa-spinner"></i> In process
                {{#if finishedDate}}
                    till {{finishedDate}}
                {{/if}}
            </span>
        {{else}}
            <span><i class="fa fa-clock-o"></i> Finished {{finishedDate}}</span>
        {{/if}}
    </div>
    <div class="vote-tags">
        {{#each meta.tags}}
            <a href="#votes/tags/{{name}}"><span>#{{name}}</span></a>
        {{/each}}
    </div>
    <p class="news-item-preview"></p>
    <span class="votes-item-time pull-right">Asked {{meta.days_ago}}</span>
</div>