<div class="votes-item">
    <div class="votes-item-bar">
        <div class="votes-item-avatar">
            <img src="/images/user.png">
        </div>
    </div>
    <div class="votes-item-body">
        <div class="votes-item-title">
            <span><a id="label">{{ model.title }}</a></span> {{#ifCond model.is_saved '==' 0}}<span class="not-saved">(not saved)</span>{{/ifCond}} Opened by: <span> {{ meta.user.first_name}} {{ meta.user.last_name }} </span>
            <button class="text-info subscribe-btn"> Subscribe</button>
        </div>
        <div class="votes-item-details">
            <span>{{ meta.comments}} Comments</span>
            <span>{{ meta.likes }} likes</span>
            <span>{{ meta.numberOfUniqueViews }} unique views</span>
            <span>
                {{#if model.finished_at}}
                    {{#if meta.isFinished}}
                        <span>Finished at {{ meta.finishedDate}}</span>
                    {{else}}
                        <span>in process <span class="dark-grey"> till {{meta.finishedDate}}</span></span>
                    {{/if}}
                {{ else }}
                    <span class="green-text">in process</span>
                {{/if}}
            </span>
            <span>{{model.views}} Views</span>
        </div>
        <div class="votes-item-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}"><span>#{{name}}</span></a>
            {{/each}}
        </div>
        <!--<span class="votes-item-time">Created at {{ model.created_at }}</span>-->
    <span class="votes-item-time">Asked {{meta.days_ago}}</span>
    </div>
</div>