<div class="votes-item">
    <div class="votes-item-bar">
        <div class="votes-item-avatar">
            <img src="/images/user.png">
        </div>
    </div>
    <div class="votes-item-body">
        <div class="votes-item-title">
            <span><a id="label">{{ model.title }} {{meta.status}}</a></span> Opened by: <span> {{ meta.user.first_name}} {{ meta.user.last_name }} </span>
            <button class="text-info subscribe-btn"> Subscribe</button>
        </div>
        <div class="votes-item-details">
            <span>{{ meta.comments}} Comments</span>
            <span>{{ meta.likes }} likes</span>
            <span>{{ meta.numberOfUniqueViews }} unique views</span>
            {{#if model.finished_at}}
            <span>Finished at {{model.finished_at}}</span>
            {{else}}
            <span>End date is not defined</span>
            {{/if}}
            <span>{{model.views}} Views</span>
        </div>
        <div class="votes-item-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}"><span>#{{name}}</span></a>
            {{/each}}
        </div>
        <!--<span class="votes-item-time">Created at {{ model.created_at }}</span>-->
    <span class="votes-item-time">Asked {{meta.days_ago}}</span>
    </div>
</div>