<!--<div class="vote-head">-->
    <div class="vote-header">
        <h3>{{ model.title }}  {{meta.status}}</h3>
        <h5>Opened by: {{ meta.user.first_name }} {{ meta.user.last_name }}</h5>
        <span>
            {{#if meta.isFinished}}
                <span class="green-text"><i class="fa fa-spinner"></i> In process
                    {{#if meta.finishedDate}}
                        till {{meta.finishedDate}}
                    {{/if}}
                </span>
            {{else}}
                <span><i class="fa fa-clock-o"></i> Finished {{meta.finishedDate}}</span>
            {{/if}}
        </span>
        <button class="btn btn-info text-info subscribe-btn">Subscribe</button>
        <div>{{{ model.description_generated }}}</div>
        <div class="vote-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}"><span>#{{name}}</span></a>
            {{/each}}
        </div>
        {{#if meta.userIsAdminOrTS}}
            <div class="vote-users">
                <span>{{ meta.numberOfUniqueViews }} users have seen this voting</span>
                <button class="btn btn-default" data-toggle="collapse" data-target=".users-list">Show users</button>
                <ul class="nav collapse users-list">
                    {{#each meta.usersWhoSaw}}
                        <li class="">
                            <img src="images/user.png" alt="">
                            <span>{{ first_name }} {{ last_name }}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#unless meta.isFinished}}
        <div>
            {{#if model.summary}}
            <div><hr><h3>{{model.summary}}</h3><hr></div>
            {{else}}
            <div><hr><h3>No summary yet</h3><hr></div>
            {{/if}}
        </div>

        {{#if meta.userIsAdminOrTS}}
        <div>
            <textarea rows="5" class="form-control description" id="summary">{{model.summary}}</textarea>
            <button class="btn btn-info pull-right" id="summary-save-btn">Save summary</button>
        </div>
        {{/if}}

        {{/unless}}


    </div>

<!--</div>-->