<!--<div class="vote-head">-->
    <div class="vote-header">
        <h3>{{ model.title }}  {{meta.status}}</h3>
        <h5>Opened by: {{ meta.user.first_name }} {{ meta.user.last_name }}</h5>
        <span>
            {{#if meta.isFinished}}
                <span class="green-text"><i class="fa fa-spinner"></i> In process
                    {{#if meta.finishedDate}}
                        till {{meta.finishedDate}}
                    {{/if}}
                </span>
            {{else}}
                <span><i class="fa fa-clock-o"></i> Finished {{meta.finishedDate}}</span>
            {{/if}}
        </span>

        <button class="btn btn-info text-info subscribe-btn">Subscribe</button>
        {{#if meta.isFinished}}
            {{#if meta.showUsers}}
                <button class="btn btn-danger stop-category-btn">Stop vote</button>
            {{/if}}
        {{/if}}
        <div>{{{ model.description_generated }}}</div>
        <div class="vote-tags">
            {{#each meta.tags}}
                <a href="#votes/tags/{{name}}"><span>{{name}}</span></a>
            {{/each}}
        </div>
        {{#if meta.userIsAdminOrTS}}
            <div class="vote-users">
                <span>{{ meta.numberOfUniqueViews }} users have seen this voting</span>
                <button class="btn btn-default" data-toggle="collapse" data-target=".users-list">Show users</button>
                <ul class="nav collapse users-list">

                    {{#each meta.voteUniqueViewsWithUsers}}
                        <li class="">

                          {{#if user.url_avatar}}<img src={{user.url_avatar}} alt="">{{else}}<img src="images/user.png">{{/if}}
                            <span>{{ user.first_name }} {{ user.last_name }} </span>
                            {{#unless userHasVoted}}<span> (Did not vote yet)</span>{{/unless}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>

<!--</div>-->