<!--<div class="vote-comment">-->
    <div class="vote-comment-avatar">

       {{#if meta.user.url_avatar}}<img src={{meta.urlBaseAvatar}}{{meta.user.url_avatar}}>{{else}}<img src='images/user.png'>{{/if}}
    </div>
    <div class="vote-comment-body">
        <h4>{{ meta.user.first_name }} {{ meta.user.last_name }} <span>{{ createdDate }}</span></h4>
        <p class="vote-comment-text">{{{ model.content_generated }}}</p>
        <a class="comment_reply">reply with quote</a>
    </div>
    <div class="vote-comments" id="comment-answer">

    </div>
<!--</div>-->