<div class="users-item">
    <div class="users-item-avatar">
        <img src={{url_avatar}} />
    </div>
    <div class="users-item-credential">
        <div class="users-item-name">
            <span>{{first_name}} {{last_name}}</span>
        </div>
        <div class="users-item-email">
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
        <div class="users-item-permission" id="users-permission">

        </div>
    </div>
    <div class="users-item-msg">
        <a href="#messages/user/{{id}}">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</div>