<div class="users-item">
    <div class="users-item-avatar">
        <img src="/images/user.png">
    </div>
    <div class="users-item-credential">
        <div class="users-item-name">
            <span>{{first_name}} {{last_name}}</span>
        </div>
        <div class="users-item-email">
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
        <div class="users-item-permission" id="users-permission">

        </div>
    </div>
    <div class="users-item-msg">
        <a>
            <img src="/images/message.png"><div class="hidden-xs"><span>Message</span></div>
        </a>
    </div>

    <div class="users-item-vote">
        <a href='#/users/{{id}}/votes'>
            <img src="/images/vote_img.png"><div class="hidden-xs"><span>My idea hubs</span></div>
        </a>
    </div>
</div>